<p>conference-form works!</p>
<form [formGroup]="conferenceForm" (ngSubmit)="createConference()">
  <input id="conference-name" formControlName="name"/>
  <span id="required-name-error-message" *ngIf="conferenceForm.controls.name.touched && conferenceForm.controls.name.errors !== null"> Required name </span>

  <input id="conference-link" formControlName="link" />
  <span id="required-link-error-message" *ngIf="conferenceForm.controls.link.touched && conferenceForm.controls.link.errors !== null"> Link should be valid</span>

  <input id="conference-price" type="number" formControlName="price" />
  <span id="required-price-error-message" *ngIf="conferenceForm.controls.price.touched && conferenceForm.controls.price.errors !== null"> Price should be greater than 0 </span>

  <input type="date" id="conference-start-date" formControlName="startDate" />

  <input type="date" id="conference-end-date" formControlName="endDate" />
  <span id="required-valid-dates-error-message" *ngIf="conferenceForm.errors && conferenceForm.controls.startDate.touched && conferenceForm.controls.endDate.touched">Dates not valid</span>

  <br>

  <select id="conference-pricing-mode" formControlName="pricingMode">
    <option *ngFor="let pricingMode of pricingModes" [value]="pricingMode.value">{{pricingMode.label}}</option>
  </select>

  <div [ngSwitch]="conferenceForm.controls.pricingMode.value">
    <app-early-bird-pricing-mode *ngSwitchCase="'earlyBird'"></app-early-bird-pricing-mode>
    <app-group-pricing-mode *ngSwitchCase="'group'"></app-group-pricing-mode>
    <app-attending-days-pricing-mode *ngSwitchCase="'attendingDays'"></app-attending-days-pricing-mode>
  </div>

  <br>
  <button type="submit" id="conference-submit-button">Submit</button>


</form>

