<div class="price-range-form">
  <input type="date" class="start-date"/>
  <input type="date" class="end-date"/>
  <input type="number" class="price"/>
</div>
<button type="button" id="add-price-range-btn" (click)="addPriceRangeForm()"> Add price range</button>
<div [formGroup]="formGroup">
  <div formArrayName="ranges" *ngFor="let priceRangeForm of ranges.controls; let index = index">
    <ng-container [formGroupName]="index">
      <div class="price-range-form" >

  <!--      <input type="date" class="start-date" [formControl]="priceRange['startDate']"/>-->
  <!--      <input type="date" class="end-date" [formControl]="priceRange['endDate']"/>-->
  <!--      <input type="number" class="price" [formControl]="priceRange['price']"/>-->


         <input type="date" class="start-date"/>
         <input type="date" class="end-date"/>
         <input type="number" class="price"/>
      </div>
    </ng-container>
  </div>
</div>
